html
  head
  body.container
    h1 Estudiantes
    table
      thead
        tr
          th Nombre
          th Edad
      tbody.js-body
    script(src="/public/vendors/jquery/jquery-3.4.1.min.js")
    script(src="/public/js/main.js")
